@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF5EC; /* 연한 당근색 배경 */
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #FA6400; /* 진한 당근색으로 코드 강조 */
}

.HashWrapOuter {
  display: flex;
  flex-wrap: wrap;
  padding: 10px; /* 추가된 패딩으로 더 넓은 간격 조성 */
}

.HashWrapInner {
  margin-top: 5px;
  background: #FFEEE7; /* 연한 당근색 */
  border-radius: 12px; /* 증가된 둥근 모서리 */
  padding: 8px 10px; /* 증가된 패딩으로 더 좋은 시각적 공간 */
  color: #FA6400; /* 진한 당근색 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px; /* 크기 증가 */
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 호버 효과를 위한 배경색 전환 */
}

.HashWrapInner:hover {
  background-color: #FCD9C8; /* 마우스 오버시 배경색 변경 */
}

.HashInput {
  padding: 8px 10px;
  display: inline-flex;
  outline: none;
  cursor: text;
  min-width: 20px;
  border: 2px solid #FCD9C8; /* 테두리 색상 변경 */
  border-radius: 8px; /* 입력란의 둥근 모서리 */
  background-color: #FFEEE7; /* 배경색 일치 */
}

.HashWrap {
  font-size: 13px; /* 텍스트 크기 수정 */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  letter-spacing: -0.6px;
  color: #FA6400; /* 텍스트 색상 조정 */
  border-bottom: 2px solid #FCD9C8; /* 테두리 색상과 굵기 조정 */
  padding: 8px; /* 패딩 조정 */
}
